* {
    padding: 0;
    margin: 0;
    font-family: cursive, sans-serif;
    letter-spacing: 0.4px;
}
body{
    background: linear-gradient(to bottom, white, rgb(215, 214, 214));
}
.head-text{
    box-shadow: 0px 0px 20px -10px ;
    text-align: center;
    padding: 30px 40px;
    /* background-color: #111; */
    /* color: #fff; */
    font-family: cursive;
}
.container{
    padding: 50px 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.container img{
    width: 400px;
    box-shadow: 0px 15px 20px -4px;
}
.sub-text{
    max-width: 500px ;
}
.sub-text h2 span, .sub-text h2 a{
    font-size: 16px;
    font-weight: 100;
    color: #000;
    text-decoration: none;
}
.intro-text{
    letter-spacing: 0.4px;
}
.useful-links a{
    text-decoration: none;
    /* color: #000; */
}
ul{
    padding-left: 20px;
}

@media screen and (max-width: 1024px) {
    .container{
        padding: 40px 30px;
    }
    .container img{
        width: 300px;
    }
}
@media screen and (max-width: 735px){
    .container{
        padding: 40px 10px;
        flex-direction: column;
    }
    .container img{
        margin: 20px;
    }
}
@media screen and (max-width: 340px) {
    .container img, .sub-text{
        width: 95%;
    }
}